/* .course-card{
    border: 1px solid black;
    padding: 20px;
    font-size: 25px;
    margin: 20px;
    background-color:black;
    color: white;
}

.course-card-btns{
    display: flex;
    justify-content: space-around;
    gap: 10px;
} */