.side-bar{

    display: flex;
}

.side-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color:rgb(177, 183, 188);
    justify-content:flex-start;
    gap :60px;
    padding: 20px;
    height: 100vh;
    width: 20vb;
    text-decoration: none;
}
.outlet{
    width: 100%;
}