.leader-table{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.leaderboard-img{
    width: 50%;
    height: 200px;
    object-fit:contain;
}

.lead-hd{
    font-weight: bold;
}

@media screen and (max-width:780px) {

   .leader-container{
     margin-left: 50px;
   }
    .leaderboard-img{
        width:80%;
        margin-left: 40px;
        object-fit:contain;
    }
}

@media screen and (max-width:580px) {
   

    .leader-container{
        margin-left:2px ;
    }

}