.register{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
     margin-top: 10px;
}

h3{
    margin: 20px;
}

.input_Feilds{
   
     display: flex;
     flex-direction: column;
     gap: 10px;
}