.sylabus-plan{
    /* background-color:blueviolet; */
    height: 100vh;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-plan{
    border: 1px solid midnightblue;
    padding: 0 30px;
    margin: 20px;
    background-color:midnightblue;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.day-plan:hover{
   background-color: black;
}

@media screen and (max-width:1065px) {
    .sylabus-plan{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        width: 100%;
        height:auto;
       
    }

}