.addQuery-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top :20px;
   
}

.addQuery-container{
    display: flex;
    gap: 80px;
   
    padding-left: 40px;
    /* background-color: antiquewhite; */
}

.addQuery-img{
    width: 40%;
    height: auto;
    object-fit: contain;
}

.query-detail{
    display : flex;
    align-items: center;
    justify-content:space-between;
}

.category{
    /* float: left; */
    margin: 15px 0;
    width:fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.query-container{
    display: flex;
}

.query-sub1,.sub1{
    display: flex;
    flex-direction: column;
    gap : 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid black;
}
.newQuery-container,.getQuery-container{
   
    width: 45%;
}

.getQuery-container{
    
   margin-top: 40px;
   
}

.time{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.query-sub3,.sub4{
    margin: 20px;
   
}
.sub3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
}

.query-btn{
    text-align: center;
    margin-top: 90px;
}

.chat-container{
    width: 50%;
    height: 100vh;
    background-color: bisque;
}

.qcontainer{
    display: flex;
    flex-wrap: wrap;
}

.quer-status{
    background-color:blanchedalmond;
}

.message .messageText{
    background-color: rgb(54, 54, 250);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: whitesmoke;
}

.message-own .messageText{
    background-color:rgb(120, 125, 129);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: whitesmoke;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-left: 10px;
}

.message-own {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}

.query-list{
    width: 550px;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    /* margin-left: 50px; */
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
   
}

.query-main{
    margin-left: 25px;
}

@media screen and (max-width:580px) {
    .addQuery-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
    }

    .addQuery-img{
        width: 70%;
        margin: auto;
    }
}



@media screen and (max-width : 780px) {
    .addQuery-container{
        display: flex;
        gap: 80px;
        /* padding-left: 40px; */
        width: 100%;
    }
}


@media screen and (max-width:965px) {
    
    .newQuery-container{
        display: none;
    }
}
