.courseList-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap : 20px;
    margin-top : 15px
}

.courseList-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(220, 232, 243);
    padding: 50px;
}

.courseList-intro{
   width: 60%;
   margin: auto;
}

.courseList-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
   
}